{{ $dest := .Destination }}
{{ $width := "" }}

{{/* TODO: move size to a property rather than in the file name */}}
{{ with (findRE `-(\d+)\.[a-zA-Z]+$` $dest) }}
  {{ $width = replaceRE `.*-(\d+)\.[a-zA-Z]+$` `$1` (index . 0) }}
{{ end }}

{{ $img := resources.Get $dest }}

{{ if and $img (ne $width "") }}
  {{ $img = $img.Resize (printf "%sx webp q100" $width) }}
{{ else if $img }}
  {{ $img = $img.Resize (printf "%dx webp q100" $img.Width) }}
{{ end }}


<figure class="hidden-figure">
  <img
    src="{{ with $img }}
      {{ .RelPermalink }}
    {{ else }}
      {{ .Destination | safeURL }}
    {{ end }}"
    alt="{{ .Text }}"
    loading="lazy"
    decoding="async"
    {{ if ne $width "" }}
      style="max-width: {{ $width }}px"
    {{ end }} />
  {{ if .Title }}
    <figcaption>{{ .Title }}</figcaption>
  {{ end }}
</figure>
