{{ $filename := .Destination }}
{{ $parts := split $filename "-" }}
{{ $lastPart := index $parts (sub (len $parts) 1) }}
{{ $number := "" }}

{{ if in $lastPart "." }}
  {{ $lastDashPart := split $lastPart "." }}
  {{ $number = index $lastDashPart 0 }}
{{ end }}

{{ if .Title }}
  <figure class="hidden-figure">
    <img class="background" src="{{ .Destination | safeURL }}" />
    <img
      src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      {{ if and (ne $number "") (findRE `^\d+$` $number) }}
        style="max-width: {{ $number }}px"
      {{ end }} />
    <figcaption>{{ .Title }}</figcaption>
  </figure>
{{ else }}
  <figure class="hidden-figure">
    <img class="background" src="{{ .Destination | safeURL }}" />
    <img
      src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      {{ if and (ne $number "") (findRE `^\d+$` $number) }}
        style="max-width: {{ $number }}px"
      {{ end }} />
  </figure>
{{ end }}
