{{ $dest := .Destination }}

{{/* match trailing number before extension */}}
{{ $width := "" }}
{{ with (findRE `-(\d+)\.[a-zA-Z]+$` $dest) }}
  {{ $match := index . 0 }}
  {{ $width = replaceRE `-(\d+)\.[a-zA-Z]+$` `$1` $match }}
{{ end }}

{{/* remove width from filename */}}
{{ $basePath := $dest }}
{{ if ne $width "" }}
  {{ $basePath = replaceRE `-(\d+)(\.[a-zA-Z]+)$` `$2` $dest }}
{{ end }}

{{ $img := resources.Get $basePath }}

{{ if $img }}
  {{ if ne $width "" }}
    {{ $img = $img.Resize (printf "%sx webp q80" $width) }}
  {{ else }}
    {{ $img = $img.Resize (printf "%dx webp q80" $img.Width) }}
  {{ end }}
{{ end }}


<figure class="hidden-figure">
  <img
    src="{{ with $img }}
      {{ .RelPermalink }}
    {{ else }}
      {{ .Destination | safeURL }}
    {{ end }}"
    alt="{{ .Text }}"
    loading="lazy"
    decoding="async"
    {{ if ne $width "" }}
      style="max-width: {{ $width }}px"
    {{ end }} />
  {{ if .Title }}
    <figcaption>{{ .Title }}</figcaption>
  {{ end }}
</figure>
