figure.hidden-figure {
  position: relative;
  overflow: hidden;
  border-radius: var(--root-1);
  background-color: var(--black-clr);
  z-index: 0;

  .background {
    position: absolute;
    filter: blur(4px) grayscale(1);
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  figcaption {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--root-8) var(--root-4) var(--root-4);
    border-radius: 0 0 var(--root-1) var(--root-1);
    background: var(--linear-gradient-default);
    color: var(--secondary-clr);
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0;
    transition: var(--transition-default);
  }
}

figure.hidden-figure:hover,
figure.hidden-figure:focus {
  figcaption {
    opacity: 1;
  }
}

figure.hidden-figure-header {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--root-8) var(--root-4) var(--root-4);
    background: var(--linear-gradient-default);
    transition: var(--transition-default);
    opacity: 0;

    a {
      color: var(--secondary-clr);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

figure.hidden-figure-header:hover,
figure.hidden-figure-header:focus {
  figcaption {
    opacity: 1;
  }
}
