.typing {
	position: relative;

	.words {
		display: flex;
		flex-wrap: wrap;
		font-family: var(--mono-font);
		font-size: 35px;
		height: 3lh;
		overflow: hidden;

		p {
			margin-bottom: 0;
			font: inherit;
		}

		span {
			font: inherit;
			opacity: 0.7;
		}

		span.correct {
			color: var(--secondary-clr);
			opacity: 1;
		}

		span.incorrect {
			color: var(--primary-clr);
			opacity: 1;
		}
	}

	.cursor {
		content: "";
		position: absolute;
		display: block;
		width: 3px;
		height: 35px;
		top: 10px;
		left: 0;
		background-color: var(--text-clr);
		border-radius: var(--root-1);
		transition: all 75ms linear;
	}
}


@keyframes cursorOpacity {
	0% {
		opacity: 0.1;
	}

	30% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}

.cursor-animate {
	animation: cursorOpacity 1s infinite;
}
