.typing {
	position: relative;

	.words {
		display: flex;
		flex-wrap: wrap;

		p {
			margin-bottom: 0;
			font-family: var(--mono-font);
			font-size: var(--root-6);
		}

		span {
			font: inherit;
		}
	}

	.cursor {
		content: "";
		position: absolute;
		display: block;
		width: 3px;
		height: 32px;
		top: 10px;
		left: 0;
		background-color: var(--text-clr);
	}
}

.correct {
	color: var(--secondary-clr);
}

.incorrect {
	color: var(--primary-clr);
}
