<div class="flex justify-between mob-flex-col mob-g-2 little-text">
  <span class="flex g-2 items-center secondary-stroke">
    <i data-feather="github"></i>See a problem?
    <a
      class="secondary-clr"
      rel="external nofollow noopener noreferrer"
      target="_blank"
      href="https://github.com/double-tilde/site/blob/main/content/{{ .File.Path }}">
      Edit on GitHub
    </a>
  </span>
  <span class="flex g-2 items-center secondary-stroke"
    ><i data-feather="message-circle"></i>Let me know what you think :)</span
  >
</div>
