<div class="contact-form" id="contact" aria-label="contact form">
  <h2>Contact Me</h2>
  <form action="https://formspree.io/f/xyznzpwp" method="POST">
    <label for="email">Your Email</label>
    <input
      name="email"
      id="email"
      type="email"
      minlength="2"
      maxlength="100"
      required />
    <label for="name">Your Name</label>
    <input
      name="name"
      id="name"
      type="name"
      minlength="2"
      maxlength="50"
      required />
    <label for="message">Message</label>
    <textarea
      name="message"
      id="message"
      rows="6"
      maxlength="5000"
      required></textarea>
    <button type="submit" class="send">Send</button>
  </form>
</div>
