<footer id="footer">
  <nav
    class="container mx-auto flex items-center justify-between g-6 py-6 px-4 mob-flex-col mob-justify-start"
    aria-label="Footer navigation">
    {{ $currentPage := . }}
    <ul class="flex items-center justify-end mob-flex-col">
      {{ range .Site.Menus.footer }}
        {{ if le .Weight 30 }}
          <li>
            <a
              class="little-text {{ if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }}
                active
              {{ end }}
        "
              href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    <ul class="flex items-center justify-end mob-flex-col">
      {{ range .Site.Menus.footer }}
        {{ if gt .Weight 30 }}
          <li>
            <a
              class="little-text {{ if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }}
                active
              {{ end }}
        "
              href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
      <li>
        <button class="little-text" type="button" id="dark-mode-toggle">
          Light mode
        </button>
      </li>
    </ul>
  </nav>
  <div
    class="container mx-auto flex items-center justify-between g-6 pb-6 px-4 mob-flex-col mob-justify-start">
    <p>&copy; Double Tilde {{ now.Year }}.</p>
    <span class="dt pl-4 mob-pl-0 secondary-clr">~~</span>
  </div>
</footer>
