<header id="header">
  <nav
    aria-label="Main Navigation"
    class="nav-main container mx-auto flex items-center justify-between g-6 py-6 px-4 mob-py-5">
    <a href="/" class="flex items-center justify-center g-4">
      {{ partial "logo.html" }}
      <h1 class="title">{{ site.Title }}</h1>
    </a>
    {{ partial "navigation.html" . }}
    <button
      type="button"
      class="secondary-stroke"
      id="mobile-open-btn">
      <i data-feather="menu"></i>
    </button>
  </nav>
  {{ partial "navigation-mobile.html" . }}
</header>
