<div class="flex items-center justify-between g-8 mob-flex-col mob-items-start">
  <div class="socials" aria-label="socials">
    <h2>Find Me Online</h2>
    {{ range .Site.Params.socials.entry }}
      <p class="flex items-center secondary-stroke">
        <i class="mr-3" data-feather="{{ .logo }}"></i>
        <a
          href="{{ .href }}"
          aria-label="{{ .label }}"
          rel="external nofollow noopener noreferrer"
          target="_blank"
          class="styled-link flex items-center">
          {{ .label }}<i class="mb-1" data-feather="arrow-up-right"></i>
        </a>
      </p>
    {{ end }}
  </div>
  <div class="cat" aria-label="cat">
    <figure class="hidden-figure" style="max-width: 640px; width: 100%;">
      <img
        src="/images/about-rosie.jpg"
        alt="Rosie as a kitten sleeping on my desk" />
      <figcaption>Rosie as a kitten sleeping on my desk</figcaption>
    </figure>
  </div>
</div>
