.title-section:has(>figure img) {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.title-section {
  --background-image: url(/images/backgrounds/blurred-1.jpg);
  position: relative;
  overflow: hidden;

  h1 {
    font-size: var(--root-10);
  }

  time,
  span:not([class]) {
    color: inherit;
  }

  >figure {
    width: fit-content;
    margin-left: auto;
    max-height: 640px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
      mix-blend-mode: luminosity;
    }
  }
}

.title-section::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: var(--linear-gradient-default),
    var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%) brightness(0.8) opacity(0.8);
  z-index: -1;
}

.title-section::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(7, 20, 34, 0.5);
  z-index: -2;
}

@media screen and (max-width: 992px) {

  .title-section {
    h1 {
      font-size: var(--root-8);
    }
  }
}

@media screen and (max-width: 768px) {

  .title-section:has(>figure img) {
    grid-template-columns: 1fr;
  }
}
