aside.article-menu {
  position: sticky;
  height: 100vh;
  top: var(--root-8);

  a {
    display: block;
    color: var(--text-clr);
    opacity: 0.7;
    text-decoration: none;
    font-size: var(--root-4);
    padding: var(--root-1) 0;
    transition: var(--transition-default);
  }

  a:hover,
  a:focus {
    opacity: 1;
  }

  a.toc-active {
    color: var(--secondary-clr);
    opacity: 1;
  }

  nav>ul>li>ul {

    a::before {
      content: "~~ ";
    }
  }
}

@media screen and (max-width: 992px) {
  aside.article-menu {
    position: relative;
    height: auto;
    top: 0;
    padding-top: var(--root-8);
  }
}
