footer {
  background-color: var(--gray-clr);

  a {
    text-decoration: none;
    transition: var(--transition-default);
  }

  ul {

    a,
    button {
      display: block;
      height: 100%;
      color: var(--text-clr);
      opacity: 0.7;
    }

    li a,
    li button {
      padding: var(--root-2) var(--root-4);
    }


    a.active,
    a:hover,
    a:focus,
    button:hover,
    autton:focus {
      color: var(--secondary-clr);
      opacity: 1;
    }
  }

  @media screen and (min-width: 993px) {
    nav ul:first-child {

      li:first-child a,
      li:first-child button {
        padding-left: 0;
      }
    }

    nav ul:last-child {

      li:last-child a,
      li:last-child button {
        padding-right: 0;
      }
    }
  }

}
