header {
  a {
    text-decoration: none;
    transition: var(--transition-default);

    h1.title {
      color: var(--text-clr);
    }
  }

  img,
  svg {
    height: var(--root-4);
    width: auto;
  }

  svg path {
    fill: var(--primary-clr);
  }

  .logo-top,
  .logo-bottom {
    transition: var(--transition-default);
  }

  a:hover .logo-top,
  a:focus .logo-top {
    transform: translateY(31%);
    fill: var(--primary-clr);
  }

  a:hover .logo-bottom,
  a:focus .logo-bottom {
    opacity: 0;
    transform: translateY(-25%);
    fill: var(--primary-clr);
  }

  ul {

    a,
    button.dark-mode-toggle {
      display: block;
      height: 100%;
      color: var(--text-clr);
      opacity: 0.7;
    }

    a.active,
    a:hover,
    a:focus {
      color: var(--secondary-clr);
      opacity: 1;
    }
  }

}

#mobile-open-btn {
  display: none;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  #mobile-open-btn {
    display: block;
  }

  header {
    h1.title {
      display: none;
    }

    .nav-main>ul {
      display: none;
    }

    .nav-mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-clr);
      z-index: 1;

      opacity: 0;
      visibility: hidden;
      transition: var(--transition-default);
    }

    .nav-mobile.mobile-animate {
      opacity: 1;
      visibility: visible;
    }
  }

}
