{{ define "main" }}
  <div class="container mx-auto px-4 mob-px-0">
    <section class="py-8 mob-pt-0">
      <article class="article gs-3 mob-gs-1">
        {{ .Content }}
      </article>
    </section>
    <section class="py-8 mob-px-4">
      {{ partial "socials.html" . }}
    </section>
    <section class="py-8 mob-px-4">
      {{ partial "projects.html" . }}
    </section>
    <section class="py-8 mob-px-4">
      {{ partial "education.html" . }}
    </section>
    <section class="py-8 mob-px-4">
      {{ partial "contact-form.html" . }}
    </section>
  </div>
{{ end }}
