<!doctype html>
<html
  lang="{{ site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "article-completion.html" }}
    {{ partial "skip-to-main.html" . }}
    {{ partial "header.html" . }}
    <main id="main" class="main transparent animate">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "toast.html" . }}
    <script>
      feather.replace();
    </script>
  </body>
</html>
