{{ define "main" }}
  {{ .Scratch.Set "prefix" (printf "%s: " .Params.prefix) }}
  {{ partial "title-section.html" . }}
  <section class="container mx-auto px-4 py-8 mob-px-0 mob-pt-0">
    <article class="article">
      {{ .Content }}
      <br />
      <div class="flex g-8 items-center justify-between">
        <a class="button send" href="javascript:history.back()">Go Back</a>
        <a class="button secondary" href="/{{ .Section }}">More Notes</a>
      </div>
      {{ $content := "<p>Entries in my collection of notes are fairly informal, there may be inaccuracies here and they could be moved or changed at any time.</p>" }}
      {{ partial "thank-you.html" (dict "content" $content "context" .) }}
    </article>
  </section>
{{ end }}
