{{ define "main" }}
  {{ partial "title-section.html" . }}
  <section class="container mx-auto px-4 py-8">
    {{ if eq .Section "articles" }}
      {{ $featuredPages := where .Site.RegularPages "Type" "articles" }}
      {{ $articles := $featuredPages.ByDate.Reverse }}
      <ul class="cards grid grid-col-1 g-6">
        {{ range $articles }}
          {{ partial "card.html" . }}
        {{ end }}
      </ul>
    {{ else if eq .Section "examples" }}
      {{ $examples := where .Site.RegularPages "Type" "examples" }}
      <article class="article">
        <ul>
          {{ range sort $examples ".Params.prefix" "asc" }}
            <li>
              <a class="h-100 flex flex-col" href="{{ .RelPermalink }}">
                {{ .Params.prefix }}:
                {{ .LinkTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      </article>
    {{ end }}
  </section>
{{ end }}
