/* Basic CSS Reset */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text rendering */
body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Resetting list styles */
ul.list,
ol.list {
  padding: revert;
  list-style: revert;

  ::marker {
    color: var(--secondary-clr);
  }
}


/* Remove default quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

/* Remove spacing and collapse borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Better image rendering */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Better button rendering */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
}

/* Make the default focus nicer */
*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid var(--secondary-accent-clr);
  outline-offset: 2px;
}

/* Remove animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

hr {
  margin-bottom: var(--root-4);
  height: 2px;
  background-color: var(--primary-accent-clr);
  border: none;
}

hr:nth-of-type(even) {
  background-color: var(--secondary-accent-clr);
}

::selection {
  color: var(--primary-accent-clr);
  background-color: var(--secondary-accent-clr);
}
