/* CSS rootity Classes */

/* Margin */

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.m-0 {
  margin: var(--root-0);
}

.m-1 {
  margin: var(--root-1);
}

.m-2 {
  margin: var(--root-2);
}

.m-3 {
  margin: var(--root-3);
}

.m-4 {
  margin: var(--root-4);
}

.m-5 {
  margin: var(--root-5);
}

.m-6 {
  margin: var(--root-6);
}

.m-7 {
  margin: var(--root-7);
}

.m-8 {
  margin: var(--root-8);
}

.m-9 {
  margin: var(--root-9);
}

.m-10 {
  margin: var(--root-10);
}

.m-11 {
  margin: var(--root-11);
}

.m-12 {
  margin: var(--root-12);
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: var(--root-1);
  margin-right: var(--root-1);
}

.mx-2 {
  margin-left: var(--root-2);
  margin-right: var(--root-2);
}

.mx-3 {
  margin-left: var(--root-3);
  margin-right: var(--root-3);
}

.mx-4 {
  margin-left: var(--root-4);
  margin-right: var(--root-4);
}

.mx-5 {
  margin-left: var(--root-5);
  margin-right: var(--root-5);
}

.mx-6 {
  margin-left: var(--root-6);
  margin-right: var(--root-6);
}

.mx-7 {
  margin-left: var(--root-7);
  margin-right: var(--root-7);
}

.mx-8 {
  margin-left: var(--root-8);
  margin-right: var(--root-8);
}

.mx-9 {
  margin-left: var(--root-9);
  margin-right: var(--root-9);
}

.mx-10 {
  margin-left: var(--root-10);
  margin-right: var(--root-10);
}

.mx-11 {
  margin-left: var(--root-11);
  margin-right: var(--root-11);
}

.mx-12 {
  margin-left: var(--root-12);
  margin-right: var(--root-12);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--root-1);
  margin-bottom: var(--root-1);
}

.my-2 {
  margin-top: var(--root-2);
  margin-bottom: var(--root-2);
}

.my-3 {
  margin-top: var(--root-3);
  margin-bottom: var(--root-3);
}

.my-4 {
  margin-top: var(--root-4);
  margin-bottom: var(--root-4);
}

.my-5 {
  margin-top: var(--root-5);
  margin-bottom: var(--root-5);
}

.my-6 {
  margin-top: var(--root-6);
  margin-bottom: var(--root-6);
}

.my-7 {
  margin-top: var(--root-7);
  margin-bottom: var(--root-7);
}

.my-8 {
  margin-top: var(--root-8);
  margin-bottom: var(--root-8);
}

.my-9 {
  margin-top: var(--root-9);
  margin-bottom: var(--root-9);
}

.my-10 {
  margin-top: var(--root-10);
  margin-bottom: var(--root-10);
}

.my-11 {
  margin-top: var(--root-11);
  margin-bottom: var(--root-11);
}

.my-12 {
  margin-top: var(--root-12);
  margin-bottom: var(--root-12);
}

.mt-0 {
  margin-top: var(--root-0);
}

.mt-1 {
  margin-top: var(--root-1);
}

.mt-2 {
  margin-top: var(--root-2);
}

.mt-3 {
  margin-top: var(--root-3);
}

.mt-4 {
  margin-top: var(--root-4);
}

.mt-5 {
  margin-top: var(--root-5);
}

.mt-6 {
  margin-top: var(--root-6);
}

.mt-7 {
  margin-top: var(--root-7);
}

.mt-8 {
  margin-top: var(--root-8);
}

.mt-9 {
  margin-top: var(--root-9);
}

.mt-10 {
  margin-top: var(--root-10);
}

.mt-11 {
  margin-top: var(--root-11);
}

.mt-12 {
  margin-top: var(--root-12);
}

.mb-0 {
  margin-bottom: var(--root-0);
}

.mb-1 {
  margin-bottom: var(--root-1);
}

.mb-2 {
  margin-bottom: var(--root-2);
}

.mb-3 {
  margin-bottom: var(--root-3);
}

.mb-4 {
  margin-bottom: var(--root-4);
}

.mb-5 {
  margin-bottom: var(--root-5);
}

.mb-6 {
  margin-bottom: var(--root-6);
}

.mb-7 {
  margin-bottom: var(--root-7);
}

.mb-8 {
  margin-bottom: var(--root-8);
}

.mb-9 {
  margin-bottom: var(--root-9);
}

.mb-10 {
  margin-bottom: var(--root-10);
}

.mb-11 {
  margin-bottom: var(--root-11);
}

.mb-12 {
  margin-bottom: var(--root-12);
}

.ml-0 {
  margin-left: var(--root-0);
}

.ml-1 {
  margin-left: var(--root-1);
}

.ml-2 {
  margin-left: var(--root-2);
}

.ml-3 {
  margin-left: var(--root-3);
}

.ml-4 {
  margin-left: var(--root-4);
}

.ml-5 {
  margin-left: var(--root-5);
}

.ml-6 {
  margin-left: var(--root-6);
}

.ml-7 {
  margin-left: var(--root-7);
}

.ml-8 {
  margin-left: var(--root-8);
}

.ml-9 {
  margin-left: var(--root-9);
}

.ml-10 {
  margin-left: var(--root-10);
}

.ml-11 {
  margin-left: var(--root-11);
}

.ml-12 {
  margin-left: var(--root-12);
}

.mr-0 {
  margin-right: var(--root-0);
}

.mr-1 {
  margin-right: var(--root-1);
}

.mr-2 {
  margin-right: var(--root-2);
}

.mr-3 {
  margin-right: var(--root-3);
}

.mr-4 {
  margin-right: var(--root-4);
}

.mr-5 {
  margin-right: var(--root-5);
}

.mr-6 {
  margin-right: var(--root-6);
}

.mr-7 {
  margin-right: var(--root-7);
}

.mr-8 {
  margin-right: var(--root-8);
}

.mr-9 {
  margin-right: var(--root-9);
}

.mr-10 {
  margin-right: var(--root-10);
}

.mr-11 {
  margin-right: var(--root-11);
}

.mr-12 {
  margin-right: var(--root-12);
}

/* Padding */

.p-0 {
  padding: var(--root-0);
}

.p-1 {
  padding: var(--root-1);
}

.p-2 {
  padding: var(--root-2);
}

.p-3 {
  padding: var(--root-3);
}

.p-4 {
  padding: var(--root-4);
}

.p-5 {
  padding: var(--root-5);
}

.p-6 {
  padding: var(--root-6);
}

.p-7 {
  padding: var(--root-7);
}

.p-8 {
  padding: var(--root-8);
}

.p-9 {
  padding: var(--root-9);
}

.p-10 {
  padding: var(--root-10);
}

.p-11 {
  padding: var(--root-11);
}

.p-12 {
  padding: var(--root-12);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: var(--root-1);
  padding-right: var(--root-1);
}

.px-2 {
  padding-left: var(--root-2);
  padding-right: var(--root-2);
}

.px-3 {
  padding-left: var(--root-3);
  padding-right: var(--root-3);
}

.px-4 {
  padding-left: var(--root-4);
  padding-right: var(--root-4);
}

.px-5 {
  padding-left: var(--root-5);
  padding-right: var(--root-5);
}

.px-6 {
  padding-left: var(--root-6);
  padding-right: var(--root-6);
}

.px-7 {
  padding-left: var(--root-7);
  padding-right: var(--root-7);
}

.px-8 {
  padding-left: var(--root-8);
  padding-right: var(--root-8);
}

.px-9 {
  padding-left: var(--root-9);
  padding-right: var(--root-9);
}

.px-10 {
  padding-left: var(--root-10);
  padding-right: var(--root-10);
}

.px-11 {
  padding-left: var(--root-11);
  padding-right: var(--root-11);
}

.px-12 {
  padding-left: var(--root-12);
  padding-right: var(--root-12);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--root-1);
  padding-bottom: var(--root-1);
}

.py-2 {
  padding-top: var(--root-2);
  padding-bottom: var(--root-2);
}

.py-3 {
  padding-top: var(--root-3);
  padding-bottom: var(--root-3);
}

.py-4 {
  padding-top: var(--root-4);
  padding-bottom: var(--root-4);
}

.py-5 {
  padding-top: var(--root-5);
  padding-bottom: var(--root-5);
}

.py-6 {
  padding-top: var(--root-6);
  padding-bottom: var(--root-6);
}

.py-7 {
  padding-top: var(--root-7);
  padding-bottom: var(--root-7);
}

.py-8 {
  padding-top: var(--root-8);
  padding-bottom: var(--root-8);
}

.py-9 {
  padding-top: var(--root-9);
  padding-bottom: var(--root-9);
}

.py-10 {
  padding-top: var(--root-10);
  padding-bottom: var(--root-10);
}

.py-11 {
  padding-top: var(--root-11);
  padding-bottom: var(--root-11);
}

.py-12 {
  padding-top: var(--root-12);
  padding-bottom: var(--root-12);
}

.pt-0 {
  padding-top: var(--root-0);
}

.pt-1 {
  padding-top: var(--root-1);
}

.pt-2 {
  padding-top: var(--root-2);
}

.pt-3 {
  padding-top: var(--root-3);
}

.pt-4 {
  padding-top: var(--root-4);
}

.pt-5 {
  padding-top: var(--root-5);
}

.pt-6 {
  padding-top: var(--root-6);
}

.pt-7 {
  padding-top: var(--root-7);
}

.pt-8 {
  padding-top: var(--root-8);
}

.pt-9 {
  padding-top: var(--root-9);
}

.pt-10 {
  padding-top: var(--root-10);
}

.pt-11 {
  padding-top: var(--root-11);
}

.pt-12 {
  padding-top: var(--root-12);
}

.pb-0 {
  padding-bottom: var(--root-0);
}

.pb-1 {
  padding-bottom: var(--root-1);
}

.pb-2 {
  padding-bottom: var(--root-2);
}

.pb-3 {
  padding-bottom: var(--root-3);
}

.pb-4 {
  padding-bottom: var(--root-4);
}

.pb-5 {
  padding-bottom: var(--root-5);
}

.pb-6 {
  padding-bottom: var(--root-6);
}

.pb-7 {
  padding-bottom: var(--root-7);
}

.pb-8 {
  padding-bottom: var(--root-8);
}

.pb-9 {
  padding-bottom: var(--root-9);
}

.pb-10 {
  padding-bottom: var(--root-10);
}

.pb-11 {
  padding-bottom: var(--root-11);
}

.pb-12 {
  padding-bottom: var(--root-12);
}

.pl-0 {
  padding-left: var(--root-0);
}

.pl-1 {
  padding-left: var(--root-1);
}

.pl-2 {
  padding-left: var(--root-2);
}

.pl-3 {
  padding-left: var(--root-3);
}

.pl-4 {
  padding-left: var(--root-4);
}

.pl-5 {
  padding-left: var(--root-5);
}

.pl-6 {
  padding-left: var(--root-6);
}

.pl-7 {
  padding-left: var(--root-7);
}

.pl-8 {
  padding-left: var(--root-8);
}

.pl-9 {
  padding-left: var(--root-9);
}

.pl-10 {
  padding-left: var(--root-10);
}

.pl-11 {
  padding-left: var(--root-11);
}

.pl-12 {
  padding-left: var(--root-12);
}

.pr-0 {
  padding-right: var(--root-0);
}

.pr-1 {
  padding-right: var(--root-1);
}

.pr-2 {
  padding-right: var(--root-2);
}

.pr-3 {
  padding-right: var(--root-3);
}

.pr-4 {
  padding-right: var(--root-4);
}

.pr-5 {
  padding-right: var(--root-5);
}

.pr-6 {
  padding-right: var(--root-6);
}

.pr-7 {
  padding-right: var(--root-7);
}

.pr-8 {
  padding-right: var(--root-8);
}

.pr-9 {
  padding-right: var(--root-9);
}

.pr-10 {
  padding-right: var(--root-10);
}

.pr-11 {
  padding-right: var(--root-11);
}

.pr-12 {
  padding-right: var(--root-12);
}


/* Flex */

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

/* Grid */

.grid {
  display: grid;
}

.grid-col-auto {
  grid-template-columns: auto;
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid-col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-row-auto {
  grid-template-rows: auto;
}

.grid-row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-row-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid-row-5 {
  grid-template-rows: repeat(5, 1fr);
}

.grid-row-6 {
  grid-template-rows: repeat(6, 1fr);
}

.grid-row-7 {
  grid-template-rows: repeat(7, 1fr);
}

.grid-row-8 {
  grid-template-rows: repeat(8, 1fr);
}

.grid-row-9 {
  grid-template-rows: repeat(9, 1fr);
}

.grid-row-10 {
  grid-template-rows: repeat(10, 1fr);
}

.grid-row-11 {
  grid-template-rows: repeat(11, 1fr);
}

.grid-row-12 {
  grid-template-rows: repeat(12, 1fr);
}

/* Grid Span */

.gs-1 {
  grid-column: span 1;
}

.gs-2 {
  grid-column: span 2;
}

.gs-3 {
  grid-column: span 3;
}

.gs-4 {
  grid-column: span 4;
}

.gs-5 {
  grid-column: span 5;
}

.gs-6 {
  grid-column: span 6;
}

.gs-7 {
  grid-column: span 7;
}

.gs-8 {
  grid-column: span 8;
}

.gs-9 {
  grid-column: span 9;
}

.gs-10 {
  grid-column: span 10;
}

.gs-11 {
  grid-column: span 11;
}

.gs-12 {
  grid-column: span 12;
}

/* Gap */

.g-0 {
  gap: var(--root-0);
}

.g-1 {
  gap: var(--root-1);
}

.g-2 {
  gap: var(--root-2);
}

.g-3 {
  gap: var(--root-3);
}

.g-4 {
  gap: var(--root-4);
}

.g-5 {
  gap: var(--root-5);
}

.g-6 {
  gap: var(--root-6);
}

.g-7 {
  gap: var(--root-7);
}

.g-8 {
  gap: var(--root-8);
}

.g-9 {
  gap: var(--root-9);
}

.g-10 {
  gap: var(--root-10);
}

.g-11 {
  gap: var(--root-11);
}

.g-12 {
  gap: var(--root-12);
}

/* Order */

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

/* Display */

.block {
  display: block;
}

.inline-block {
  vertical-align: top;
  display: inline-block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: 0;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.o-hidden {
  overflow: hidden;
}

.oy-hidden {
  overflow-y: hidden;
}

.ox-hidden {
  overflow-x: hidden;
}

/* Postitions */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

/* Containers */

.container {
  max-width: var(--container);
}

.main {
  min-height: var(--main-height);
}

article {
  max-width: var(--container);
}

/* Width */

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.mxw-100 {
  max-width: 100%;
}

.mnw-100 {
  min-width: 100%;
}

/* Height */

.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.mxh-100 {
  max-height: 100%;
}

.mnh-100 {
  min-height: 100%;
}

/* Centering */

.text-center {
  text-align: center;
}

/* Borders */
.solid-border {
  border: 2px solid var(--primary-accent-clr);
  border-radius: var(--root-1);
}

.dashed-border:before {
  position: absolute;
  content: "";
  display: block;
  top: var(--root--2);
  left: var(--root--2);
  height: calc(100% + var(--root-1));
  width: calc(100% + var(--root-1));
  border: 2px dashed var(--secondary-accent-clr);
  border-radius: var(--root-1);
  pointer-events: none;
}

/* Mobile */

@media screen and (max-width: 992px) {
  /* Padding */

  .mob-p-0 {
    padding: var(--root-0);
  }

  .mob-p-1 {
    padding: var(--root-1);
  }

  .mob-p-2 {
    padding: var(--root-2);
  }

  .mob-p-3 {
    padding: var(--root-3);
  }

  .mob-p-4 {
    padding: var(--root-4);
  }

  .mob-p-5 {
    padding: var(--root-5);
  }

  .mob-p-6 {
    padding: var(--root-6);
  }

  .mob-p-7 {
    padding: var(--root-7);
  }

  .mob-p-8 {
    padding: var(--root-8);
  }

  .mob-p-9 {
    padding: var(--root-9);
  }

  .mob-p-10 {
    padding: var(--root-10);
  }

  .mob-p-11 {
    padding: var(--root-11);
  }

  .mob-p-12 {
    padding: var(--root-12);
  }

  .mob-px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mob-px-1 {
    padding-left: var(--root-1);
    padding-right: var(--root-1);
  }

  .mob-px-2 {
    padding-left: var(--root-2);
    padding-right: var(--root-2);
  }

  .mob-px-3 {
    padding-left: var(--root-3);
    padding-right: var(--root-3);
  }

  .mob-px-4 {
    padding-left: var(--root-4);
    padding-right: var(--root-4);
  }

  .mob-px-5 {
    padding-left: var(--root-5);
    padding-right: var(--root-5);
  }

  .mob-px-6 {
    padding-left: var(--root-6);
    padding-right: var(--root-6);
  }

  .mob-px-7 {
    padding-left: var(--root-7);
    padding-right: var(--root-7);
  }

  .mob-px-8 {
    padding-left: var(--root-8);
    padding-right: var(--root-8);
  }

  .mob-px-9 {
    padding-left: var(--root-9);
    padding-right: var(--root-9);
  }

  .mob-px-10 {
    padding-left: var(--root-10);
    padding-right: var(--root-10);
  }

  .mob-px-11 {
    padding-left: var(--root-11);
    padding-right: var(--root-11);
  }

  .mob-px-12 {
    padding-left: var(--root-12);
    padding-right: var(--root-12);
  }

  .mob-py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mob-py-1 {
    padding-top: var(--root-1);
    padding-bottom: var(--root-1);
  }

  .mob-py-2 {
    padding-top: var(--root-2);
    padding-bottom: var(--root-2);
  }

  .mob-py-3 {
    padding-top: var(--root-3);
    padding-bottom: var(--root-3);
  }

  .mob-py-4 {
    padding-top: var(--root-4);
    padding-bottom: var(--root-4);
  }

  .mob-py-5 {
    padding-top: var(--root-5);
    padding-bottom: var(--root-5);
  }

  .mob-py-6 {
    padding-top: var(--root-6);
    padding-bottom: var(--root-6);
  }

  .mob-py-7 {
    padding-top: var(--root-7);
    padding-bottom: var(--root-7);
  }

  .mob-py-8 {
    padding-top: var(--root-8);
    padding-bottom: var(--root-8);
  }

  .mob-py-9 {
    padding-top: var(--root-9);
    padding-bottom: var(--root-9);
  }

  .mob-py-10 {
    padding-top: var(--root-10);
    padding-bottom: var(--root-10);
  }

  .mob-py-11 {
    padding-top: var(--root-11);
    padding-bottom: var(--root-11);
  }

  .mob-py-12 {
    padding-top: var(--root-12);
    padding-bottom: var(--root-12);
  }

  .mob-pt-0 {
    padding-top: var(--root-0);
  }

  .mob-pt-1 {
    padding-top: var(--root-1);
  }

  .mob-pt-2 {
    padding-top: var(--root-2);
  }

  .mob-pt-3 {
    padding-top: var(--root-3);
  }

  .mob-pt-4 {
    padding-top: var(--root-4);
  }

  .mob-pt-5 {
    padding-top: var(--root-5);
  }

  .mob-pt-6 {
    padding-top: var(--root-6);
  }

  .mob-pt-7 {
    padding-top: var(--root-7);
  }

  .mob-pt-8 {
    padding-top: var(--root-8);
  }

  .mob-pt-9 {
    padding-top: var(--root-9);
  }

  .mob-pt-10 {
    padding-top: var(--root-10);
  }

  .mob-pt-11 {
    padding-top: var(--root-11);
  }

  .mob-pt-12 {
    padding-top: var(--root-12);
  }

  .mob-pb-0 {
    padding-bottom: var(--root-0);
  }

  .mob-pb-1 {
    padding-bottom: var(--root-1);
  }

  .mob-pb-2 {
    padding-bottom: var(--root-2);
  }

  .mob-pb-3 {
    padding-bottom: var(--root-3);
  }

  .mob-pb-4 {
    padding-bottom: var(--root-4);
  }

  .mob-pb-5 {
    padding-bottom: var(--root-5);
  }

  .mob-pb-6 {
    padding-bottom: var(--root-6);
  }

  .mob-pb-7 {
    padding-bottom: var(--root-7);
  }

  .mob-pb-8 {
    padding-bottom: var(--root-8);
  }

  .mob-pb-9 {
    padding-bottom: var(--root-9);
  }

  .mob-pb-10 {
    padding-bottom: var(--root-10);
  }

  .mob-pb-11 {
    padding-bottom: var(--root-11);
  }

  .mob-pb-12 {
    padding-bottom: var(--root-12);
  }

  .mob-pl-0 {
    padding-left: var(--root-0);
  }

  .mob-pl-1 {
    padding-left: var(--root-1);
  }

  .mob-pl-2 {
    padding-left: var(--root-2);
  }

  .mob-pl-3 {
    padding-left: var(--root-3);
  }

  .mob-pl-4 {
    padding-left: var(--root-4);
  }

  .mob-pl-5 {
    padding-left: var(--root-5);
  }

  .mob-pl-6 {
    padding-left: var(--root-6);
  }

  .mob-pl-7 {
    padding-left: var(--root-7);
  }

  .mob-pl-8 {
    padding-left: var(--root-8);
  }

  .mob-pl-9 {
    padding-left: var(--root-9);
  }

  .mob-pl-10 {
    padding-left: var(--root-10);
  }

  .mob-pl-11 {
    padding-left: var(--root-11);
  }

  .mob-pl-12 {
    padding-left: var(--root-12);
  }

  .mob-pr-0 {
    padding-right: var(--root-0);
  }

  .mob-pr-1 {
    padding-right: var(--root-1);
  }

  .mob-pr-2 {
    padding-right: var(--root-2);
  }

  .mob-pr-3 {
    padding-right: var(--root-3);
  }

  .mob-pr-4 {
    padding-right: var(--root-4);
  }

  .mob-pr-5 {
    padding-right: var(--root-5);
  }

  .mob-pr-6 {
    padding-right: var(--root-6);
  }

  .mob-pr-7 {
    padding-right: var(--root-7);
  }

  .mob-pr-8 {
    padding-right: var(--root-8);
  }

  .mob-pr-9 {
    padding-right: var(--root-9);
  }

  .mob-pr-10 {
    padding-right: var(--root-10);
  }

  .mob-pr-11 {
    padding-right: var(--root-11);
  }

  .mob-pr-12 {
    padding-right: var(--root-12);
  }

  /* Flex */

  .mob-flex {
    display: flex;
  }

  .mob-flex-inline {
    display: inline-flex;
  }

  .mob-flex-row {
    flex-direction: row;
  }

  .mob-flex-col {
    flex-direction: column;
  }

  .mob-flex-wrap {
    flex-wrap: wrap;
  }

  .mob-flex-nowrap {
    flex-wrap: nowrap;
  }

  .mob-justify-start {
    justify-content: flex-start;
  }

  .mob-justify-center {
    justify-content: center;
  }

  .mob-justify-end {
    justify-content: flex-end;
  }

  .mob-justify-between {
    justify-content: space-between;
  }

  .mob-justify-around {
    justify-content: space-around;
  }

  .mob-justify-evenly {
    justify-content: space-evenly;
  }

  .mob-items-start {
    align-items: flex-start;
  }

  .mob-items-center {
    align-items: center;
  }

  .mob-items-end {
    align-items: flex-end;
  }

  .mob-items-stretch {
    align-items: stretch;
  }


  /* Grid */

  .mob-grid-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .mob-grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .mob-grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .mob-grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .mob-grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .mob-grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .mob-grid-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .mob-grid-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .mob-grid-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .mob-grid-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .mob-grid-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .mob-grid-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .mob-grid-row-auto {
    grid-template-rows: auto;
  }

  .mob-grid-row-1 {
    grid-template-rows: repeat(1, 1fr);
  }

  .mob-grid-row-2 {
    grid-template-rows: repeat(2, 1fr);
  }

  .mob-grid-row-3 {
    grid-template-rows: repeat(3, 1fr);
  }

  .mob-grid-row-4 {
    grid-template-rows: repeat(4, 1fr);
  }

  .mob-grid-row-5 {
    grid-template-rows: repeat(5, 1fr);
  }

  .mob-grid-row-6 {
    grid-template-rows: repeat(6, 1fr);
  }

  .mob-grid-row-7 {
    grid-template-rows: repeat(7, 1fr);
  }

  .mob-grid-row-8 {
    grid-template-rows: repeat(8, 1fr);
  }

  .mob-grid-row-9 {
    grid-template-rows: repeat(9, 1fr);
  }

  .mob-grid-row-10 {
    grid-template-rows: repeat(10, 1fr);
  }

  .mob-grid-row-11 {
    grid-template-rows: repeat(11, 1fr);
  }

  .mob-grid-row-12 {
    grid-template-rows: repeat(12, 1fr);
  }

  .mob-gs-1 {
    grid-column: span 1;
  }

  .mob-gs-2 {
    grid-column: span 2;
  }

  .mob-gs-3 {
    grid-column: span 3;
  }

  .mob-gs-4 {
    grid-column: span 4;
  }

  .mob-gs-5 {
    grid-column: span 5;
  }

  .mob-gs-6 {
    grid-column: span 6;
  }

  .mob-gs-7 {
    grid-column: span 7;
  }

  .mob-gs-8 {
    grid-column: span 8;
  }

  .mob-gs-9 {
    grid-column: span 9;
  }

  .mob-gs-10 {
    grid-column: span 10;
  }

  .mob-gs-11 {
    grid-column: span 11;
  }

  .mob-gs-12 {
    grid-column: span 12;
  }

  .mob-g-0 {
    gap: var(--root-0);
  }

  .mob-g-1 {
    gap: var(--root-1);
  }

  .mob-g-2 {
    gap: var(--root-2);
  }

  .mob-g-3 {
    gap: var(--root-3);
  }

  .mob-g-4 {
    gap: var(--root-4);
  }

  .mob-g-5 {
    gap: var(--root-5);
  }

  .mob-g-6 {
    gap: var(--root-6);
  }

  .mob-g-7 {
    gap: var(--root-7);
  }

  .mob-g-8 {
    gap: var(--root-8);
  }

  .mob-g-9 {
    gap: var(--root-9);
  }

  .mob-g-10 {
    gap: var(--root-10);
  }

  .mob-g-11 {
    gap: var(--root-11);
  }

  .mob-g-12 {
    gap: var(--root-12);
  }

  /* Order */

  .mob-order-1 {
    order: 1;
  }

  .mob-order-2 {
    order: 2;
  }

  .mob-order-3 {
    order: 3;
  }

  .mob-order-4 {
    order: 4;
  }

  .mob-order-5 {
    order: 5;
  }

  .mob-order-6 {
    order: 6;
  }

  .mob-order-7 {
    order: 7;
  }

  .mob-order-8 {
    order: 8;
  }

  .mob-order-9 {
    order: 9;
  }

  .mob-order-10 {
    order: 10;
  }

  .mob-order-11 {
    order: 11;
  }

  .mob-order-12 {
    order: 12;
  }

}

/* Colors */

.text-clr {
  color: var(--text-clr);
}

.white-clr {
  color: var(--white-clr);
}

.white-bg {
  background-color: var(--white-clr);
}

.black-clr {
  color: var(--black-clr);
}

.black-bg {
  background-color: var(--black-clr);
}

.primary-clr {
  color: var(--primary-clr);
}

.primary-accent-clr {
  color: var(--primary-accent-clr);
}

.secondary-clr {
  color: var(--secondary-clr);
}

.secondary-accent-clr {
  color: var(--secondary-accent-clr);
}

.primary-bg {
  background-color: var(--primary-clr);
}

.primary-accent-bg {
  background-color: var(--primary-accent-clr);
}

.secondary-bg {
  background-color: var(--secondary-clr);
}

.secondary-accent-bg {
  background-color: var(--secondary-accent-clr);
}

.primary-stroke {
  stroke: var(--primary-clr);
}

.primary-accent-stroke {
  stroke: var(--primary-accent-clr);
}

.secondary-stroke {
  stroke: var(--secondary-clr);
}

.secondary-accent-stroke {
  stroke: var(--secondary-accent-clr);
}

/* Text Sizes */

.text-smallest {
  font-size: 0.6rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-normal {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-big {
  font-size: 1.5rem;
}

.text-bigger {
  font-size: 1.75rem;
}

.text-biggest {
  font-size: 2rem;
}
