body {
  background: var(--bg-clr);
}

body,
button,
input {
  font-family: var(--body-font);
}

header,
footer,
main *,
div,
p,
span {
  color: var(--text-clr);
  font-family: inherit;
}

main p {
  margin-bottom: var(--rel-4);
}

a {
  color: var(--primary-clr);
}

.little-text,
.little-text * {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.styled-link,
article a[class] {
  display: inline;
  color: var(--text-clr);
  min-height: 32px;
  text-decoration: underline 2px var(--secondary-accent-clr);
  text-underline-offset: 4px;
}

.styled-link:hover,
.styled-link:focus,
article a[class]:hover,
article a[class]:focus {
  opacity: 0.5;
}

main {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-clr);
    font-family: var(--heading-font);
    margin-bottom: var(--rel-4);
    letter-spacing: 1px;
  }

  p,
  ul,
  ol,
  li,
  span,
  th,
  td,
  pre,
  code,
  blockquote {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  code {
    font-family: var(--mono-font);
  }
}
