@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: flyIn 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
