.feather {
  height: 16px;
  width: auto;
  color: inherit;
  stroke: inherit;
}

.feather.feather-arrow-up-right {
  display: inline;
  margin-left: -5px;
  height: 12px;
  width: auto;
  stroke: var(--secondary-clr);
}

.feather.feather-menu {
  height: 20px;
  width: auto;
}
